@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbar */
.rounded-image{
    width: 40px;
    height: 40px;
}

h1{
    @apply text-5xl font-bold;
}

/* ChefDetails */
.bg-image{
    background-image: url("https://i.ibb.co/Qb7RKvG/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}
